<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    {% if app.user %}
        <p>Bienvenue, {{ app.user.username }} !</p>
        <p>Nom: {{ app.user.username }}</p>
        <p>Email: {{ app.user.email }}</p>
        <a href="{{ path('app_logout') }}">Se déconnecter</a>

        {% if 'ROLE_ADMIN' in app.user.roles %}
            <a href="{{ path('admin_index') }}">Accéder à l'admin</a>
        {% endif %}
        {% if 'ROLE_USER' in app.user.roles %}
            <a href="{{ path('page_login') }}">Accéder à votre profil</a>
        {% endif %}
        {% if 'ROLE_BANNED' in app.user.roles %}
            <p>Vous êtes banni. Vous n'avez pas accès au site.</p>
        {% endif %}
    {% else %}
        <p>Vous n'êtes pas connecté.</p>
        <a href="{{ path('page_login') }}">Se connecter</a>
    {% endif %}
</body>
</html>
